.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:5
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-row label {
  margin-right: 10px;
}

.modal-row input {
  flex: 1;
}

.modal-row button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-button {
  background-color: white;
  border: 2px solid #1d8ae9;
  color: #1d8ae9;
}

.confirm-button {
  background-color: #1d8ae9;
  border: none;
  color: white;
}
