/* New filter component styles */

.filter-container {
  background-color: var(--blue5);
  width: 100%;
  border: 1px solid var(--blue30);
  padding: 1rem 1rem .01rem 1rem; /* Adjust padding to create more space around the container */
  font-size: 12px; /* Set font size to 12px */
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0rem; /* Add padding to create space below the row */
}

.filter-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Ensure only 3 filters per row */
  gap: 10px;
  flex: 1;
  padding-left:10px
  margin-left:8px

}

.filter-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.filter-select, .filter-input {
  margin-right: 8px;
}

.filter-buttons-left {
  display: flex;
  align-items: center;
}

.filter-buttons-right {
  display: flex;
  align-items: center;
}

.filter-button {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.toggle-filter-button {
  /* margin-top: 8px; */
  display: flex;
  justify-content: center; /* Center the button */
  width: 100%; /* Ensure the button container takes the full width */
}

.filters-collapsed .filter-wrapper {
  display: none; /* Hide filters when collapsed */
}

.filters-collapsed .filter-container {
  padding: 0.5rem; /* Reduce padding when filters are collapsed */
}

@media (min-width: 600px) {
  .filter-button {
    margin-left: 8px;
  }
}
